@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<body>
    <header>
        <h1>About Iron Man</h1>
    </header>
    <section>
        <p><strong>Iron Man</strong>, also known as <em>Tony Stark</em>, is a
        fictional superhero appearing in Marvel Comics. He is a genius
        inventor and billionaire industrialist who fights crime using a
        powered suit of armor.</p>
        <p>His origin story involves being injured and captured, which leads
        him to create the first Iron Man suit in captivity. Over time, Tony
        improves the armor and becomes a founding member of the Avengers.</p>
        <h2>Favorite Technologies</h2>
        <ul>
            <li>Arc Reactor</li>
            <li>AI Assistant (J.A.R.V.I.S.)</li>
            <li>Flight Stabilizers</li>
        </ul>
        <h2>Useful Links</h2>
        <ul>
            <li>Iron Man - Marvel Official</li>
            <li><a href="https://elearn.usp.ac.fj">USP Website</a></li>
            <li> <a href="https://www.usp.ac.fj">USP Moodle</a> </li>
        </ul>
        <img src="images/images-2.jpeg" height="100px" width="100px" alt="Iron Man">
        <img src="./images/images.jpeg" height="100px" width="100px" alt="Iron Man">
    </section>
</body>